[
  {
    "url" : "\/Clipboard.clipboard",
    "keyCode" : 49,
    "openSelectedFolders" : true,
    "order" : 0,
    "hideIfActive" : false,
    "openSelectedFiles" : true,
    "enabled" : false,
    "modifierFlags" : 1179648
  },
  {
    "hideIfActive" : false,
    "url" : "\/System\/Applications\/Mail.app",
    "order" : 1,
    "enabled" : false,
    "openSelectedFiles" : true,
    "keyCode" : 46,
    "openSelectedFolders" : true,
    "bookmark" : "Ym9va0ACAAAAAAQQMAAAAMzl\/CJsW9nI+1KT8zaLJZLSyvVbCG5DBQAkHGKh7qwXYAEAAAQAAAADAwAAABgAKAYAAAABAQAAU3lzdGVtAAAMAAAAAQEAAEFwcGxpY2F0aW9ucwgAAAABAQAATWFpbC5hcHAMAAAAAQYAABAAAAAgAAAANAAAAAgAAAAEAwAAFQAAAP\/\/\/w8IAAAABAMAABcAAAD\/\/\/8PCAAAAAQDAADjGQAA\/\/\/\/DwwAAAABBgAAWAAAAGgAAAB4AAAACAAAAAAEAABBxMp7dIAAABgAAAABAgAAAgAAAAAAAAAPAAAAAAAAAAAAAAAAAAAACAAAAAEJAABmaWxlOi8vLwwAAAABAQAATWFjaW50b3NoIEhECAAAAAQDAAAAUKEbcwAAACQAAAABAQAAMUJCQTAwODUtRTkxQi00MDYzLUJEQTEtOUQyQkI2MjI2ODlCGAAAAAECAACBAAAAAQAAAO8TAAABAAAAAAAAAAAAAAABAAAAAQEAAC8AAAAAAAAAAQUAAKgAAAD+\/\/\/\/AQAAAAAAAAANAAAABBAAAEQAAAAAAAAABRAAAIgAAAAAAAAAEBAAAKwAAAAAAAAAQBAAAJwAAAAAAAAAAiAAAEwBAAAAAAAABSAAAMwAAAAAAAAAECAAANwAAAAAAAAAESAAAAABAAAAAAAAEiAAAPAAAAAAAAAAEyAAAJwAAAAAAAAAICAAACwBAAAAAAAAMCAAAFgBAAAAAAAAENAAAAQAAAAAAAAA",
    "modifierFlags" : 1179648
  },
  {
    "url" : "\/System\/Applications\/Utilities\/Terminal.app",
    "enabled" : false,
    "openSelectedFolders" : true,
    "keyCode" : 36,
    "hideIfActive" : false,
    "bookmark" : "Ym9va3ACAAAAAAQQMAAAAIybG7QdTb++HvatMWJtUevcsmMY+K8yEtE8d884DehqkAEAAAQAAAADAwAAABgAKAYAAAABAQAAU3lzdGVtAAAMAAAAAQEAAEFwcGxpY2F0aW9ucwkAAAABAQAAVXRpbGl0aWVzAAAADAAAAAEBAABUZXJtaW5hbC5hcHAQAAAAAQYAABAAAAAgAAAANAAAAEgAAAAIAAAABAMAABUAAAD\/\/\/8PCAAAAAQDAAAXAAAA\/\/\/\/DwgAAAAEAwAAy2sAAP\/\/\/w8IAAAABAMAAECAAAD\/\/\/8PEAAAAAEGAAB0AAAAhAAAAJQAAACkAAAACAAAAAAEAABBxMp7dIAAABgAAAABAgAAAgAAAAAAAAAPAAAAAAAAAAAAAAAAAAAACAAAAAEJAABmaWxlOi8vLwwAAAABAQAATWFjaW50b3NoIEhECAAAAAQDAAAAUKEbcwAAACQAAAABAQAAMUJCQTAwODUtRTkxQi00MDYzLUJEQTEtOUQyQkI2MjI2ODlCGAAAAAECAACBAAAAAQAAAO8TAAABAAAAAAAAAAAAAAABAAAAAQEAAC8AAAAAAAAAAQUAAKgAAAD+\/\/\/\/AQAAAAAAAAANAAAABBAAAFwAAAAAAAAABRAAALQAAAAAAAAAEBAAANwAAAAAAAAAQBAAAMwAAAAAAAAAAiAAAHwBAAAAAAAABSAAAPwAAAAAAAAAECAAAAwBAAAAAAAAESAAADABAAAAAAAAEiAAACABAAAAAAAAEyAAAMwAAAAAAAAAICAAAFwBAAAAAAAAMCAAAIgBAAAAAAAAENAAAAQAAAAAAAAA",
    "modifierFlags" : 1179648,
    "openSelectedFiles" : false,
    "order" : 2
  },
  {
    "openSelectedFiles" : true,
    "bookmark" : "Ym9vazQCAAAAAAQQMAAAAA4KAGaMXezQyY19i8xwd0mBxjR0mPSshD87omEW5\/S4VAEAAAQAAAADAwAAABgAKAwAAAABAQAAQXBwbGljYXRpb25zEQAAAAEBAABHb29nbGUgQ2hyb21lLmFwcAAAAAgAAAABBgAAEAAAACQAAAAIAAAABAMAAENfGAIAAAAACAAAAAQDAACZQAQAAAAAAAgAAAABBgAAUAAAAGAAAAAIAAAAAAQAAEHEOAdNgAAAGAAAAAECAAACAAAAAAAAAA8AAAAAAAAAAAAAAAAAAAAIAAAAAQkAAGZpbGU6Ly8vDAAAAAEBAABNYWNpbnRvc2ggSEQIAAAABAMAAABQoRtzAAAACAAAAAAEAABBxMp7dIAAACQAAAABAQAAMUJCQTAwODUtRTkxQi00MDYzLUJEQTEtOUQyQkI2MjI2ODlCGAAAAAECAACBAAAAAQAAAO8TAAABAAAAAAAAAAAAAAABAAAAAQEAAC8AAAAAAAAAAQUAAKgAAAD+\/\/\/\/AQAAAAAAAAANAAAABBAAAEAAAAAAAAAABRAAAHAAAAAAAAAAEBAAAJAAAAAAAAAAQBAAAIAAAAAAAAAAAiAAAEABAAAAAAAABSAAALAAAAAAAAAAECAAAMAAAAAAAAAAESAAAPQAAAAAAAAAEiAAANQAAAAAAAAAEyAAAOQAAAAAAAAAICAAACABAAAAAAAAMCAAAEwBAAAAAAAAENAAAAQAAAAAAAAA",
    "hideIfActive" : false,
    "modifierFlags" : 1179914,
    "order" : 3,
    "url" : "\/Applications\/Google Chrome.app",
    "openSelectedFolders" : true,
    "keyCode" : 8,
    "enabled" : true
  },
  {
    "url" : "\/Applications\/DBeaver.app",
    "enabled" : true,
    "keyCode" : 37,
    "order" : 4,
    "modifierFlags" : 1179914,
    "bookmark" : "Ym9vaywCAAAAAAQQMAAAAHAQ3GwQmXxekOJ1NmCr2Ch9Pf6kFWwerzRVEcSQrTM2TAEAAAQAAAADAwAAABgAKAwAAAABAQAAQXBwbGljYXRpb25zCwAAAAEBAABEQmVhdmVyLmFwcAAIAAAAAQYAABAAAAAkAAAACAAAAAQDAABDXxgCAAAAAAgAAAAEAwAAWj53AQAAAAAIAAAAAQYAAEgAAABYAAAACAAAAAAEAABBxMiBaoAAABgAAAABAgAAAgAAAAAAAAAPAAAAAAAAAAAAAAAAAAAACAAAAAEJAABmaWxlOi8vLwwAAAABAQAATWFjaW50b3NoIEhECAAAAAQDAAAAUKEbcwAAAAgAAAAABAAAQcTKe3SAAAAkAAAAAQEAADFCQkEwMDg1LUU5MUItNDA2My1CREExLTlEMkJCNjIyNjg5QhgAAAABAgAAgQAAAAEAAADvEwAAAQAAAAAAAAAAAAAAAQAAAAEBAAAvAAAAAAAAAAEFAACoAAAA\/v\/\/\/wEAAAAAAAAADQAAAAQQAAA4AAAAAAAAAAUQAABoAAAAAAAAABAQAACIAAAAAAAAAEAQAAB4AAAAAAAAAAIgAAA4AQAAAAAAAAUgAACoAAAAAAAAABAgAAC4AAAAAAAAABEgAADsAAAAAAAAABIgAADMAAAAAAAAABMgAADcAAAAAAAAACAgAAAYAQAAAAAAADAgAABEAQAAAAAAABDQAAAEAAAAAAAAAA==",
    "openSelectedFolders" : true,
    "openSelectedFiles" : true,
    "hideIfActive" : false
  },
  {
    "modifierFlags" : 1179914,
    "url" : "\/Applications\/Microsoft Outlook.app",
    "openSelectedFiles" : true,
    "enabled" : true,
    "keyCode" : 14,
    "order" : 5,
    "bookmark" : "Ym9vazgCAAAAAAQQMAAAAEqLhdOhUdn84\/5grm3ilIOECXCjxKOgSN9hr5yRAQqRWAEAAAQAAAADAwAAABgAKAwAAAABAQAAQXBwbGljYXRpb25zFQAAAAEBAABNaWNyb3NvZnQgT3V0bG9vay5hcHAAAAAIAAAAAQYAABAAAAAkAAAACAAAAAQDAABDXxgCAAAAAAgAAAAEAwAAYPsZAgAAAAAIAAAAAQYAAFQAAABkAAAACAAAAAAEAABBxDwGuAAAABgAAAABAgAAAgAAAAAAAAAPAAAAAAAAAAAAAAAAAAAACAAAAAEJAABmaWxlOi8vLwwAAAABAQAATWFjaW50b3NoIEhECAAAAAQDAAAAUKEbcwAAAAgAAAAABAAAQcTKe3SAAAAkAAAAAQEAADFCQkEwMDg1LUU5MUItNDA2My1CREExLTlEMkJCNjIyNjg5QhgAAAABAgAAgQAAAAEAAADvEwAAAQAAAAAAAAAAAAAAAQAAAAEBAAAvAAAAAAAAAAEFAACoAAAA\/v\/\/\/wEAAAAAAAAADQAAAAQQAABEAAAAAAAAAAUQAAB0AAAAAAAAABAQAACUAAAAAAAAAEAQAACEAAAAAAAAAAIgAABEAQAAAAAAAAUgAAC0AAAAAAAAABAgAADEAAAAAAAAABEgAAD4AAAAAAAAABIgAADYAAAAAAAAABMgAADoAAAAAAAAACAgAAAkAQAAAAAAADAgAABQAQAAAAAAABDQAAAEAAAAAAAAAA==",
    "hideIfActive" : false,
    "openSelectedFolders" : true
  },
  {
    "enabled" : true,
    "modifierFlags" : 1179914,
    "openSelectedFolders" : true,
    "openSelectedFiles" : true,
    "hideIfActive" : false,
    "bookmark" : "Ym9va0ACAAAAAAQQMAAAAArVpHiiDpcg5WxOG5IrwP67WyjiQQ+vklL\/UjXXdjMxYAEAAAQAAAADAwAAABgAKAwAAAABAQAAQXBwbGljYXRpb25zHQAAAAEBAABGaXJlZm94IERldmVsb3BlciBFZGl0aW9uLmFwcAAAAAgAAAABBgAAEAAAACQAAAAIAAAABAMAAENfGAIAAAAACAAAAAQDAAD0PwQAAAAAAAgAAAABBgAAXAAAAGwAAAAIAAAAAAQAAEHEQF2VAAAAGAAAAAECAAACAAAAAAAAAA8AAAAAAAAAAAAAAAAAAAAIAAAAAQkAAGZpbGU6Ly8vDAAAAAEBAABNYWNpbnRvc2ggSEQIAAAABAMAAABQoRtzAAAACAAAAAAEAABBxMp7dIAAACQAAAABAQAAMUJCQTAwODUtRTkxQi00MDYzLUJEQTEtOUQyQkI2MjI2ODlCGAAAAAECAACBAAAAAQAAAO8TAAABAAAAAAAAAAAAAAABAAAAAQEAAC8AAAAAAAAAAQUAAKgAAAD+\/\/\/\/AQAAAAAAAAANAAAABBAAAEwAAAAAAAAABRAAAHwAAAAAAAAAEBAAAJwAAAAAAAAAQBAAAIwAAAAAAAAAAiAAAEwBAAAAAAAABSAAALwAAAAAAAAAECAAAMwAAAAAAAAAESAAAAABAAAAAAAAEiAAAOAAAAAAAAAAEyAAAPAAAAAAAAAAICAAACwBAAAAAAAAMCAAAFgBAAAAAAAAENAAAAQAAAAAAAAA",
    "keyCode" : 0,
    "order" : 6,
    "url" : "\/Applications\/Firefox Developer Edition.app"
  },
  {
    "openSelectedFiles" : true,
    "bookmark" : "Ym9va0wCAAAAAAQQMAAAAIW6h7JR3YKo0DgNnrY5kdZvCB1xUSuNBVrfhr9diz0XbAEAAAQAAAADAwAAABgAKAYAAAABAQAAU3lzdGVtAAAMAAAAAQEAAEFwcGxpY2F0aW9ucxMAAAABAQAAU3lzdGVtIFNldHRpbmdzLmFwcAAMAAAAAQYAABAAAAAgAAAANAAAAAgAAAAEAwAAFQAAAP\/\/\/w8IAAAABAMAABcAAAD\/\/\/8PCAAAAAQDAADlWwAA\/\/\/\/DwwAAAABBgAAZAAAAHQAAACEAAAACAAAAAAEAABBxMp7dIAAABgAAAABAgAAAgAAAAAAAAAPAAAAAAAAAAAAAAAAAAAACAAAAAEJAABmaWxlOi8vLwwAAAABAQAATWFjaW50b3NoIEhECAAAAAQDAAAAUKEbcwAAACQAAAABAQAAMUJCQTAwODUtRTkxQi00MDYzLUJEQTEtOUQyQkI2MjI2ODlCGAAAAAECAACBAAAAAQAAAO8TAAABAAAAAAAAAAAAAAABAAAAAQEAAC8AAAAAAAAAAQUAAKgAAAD+\/\/\/\/AQAAAAAAAAANAAAABBAAAFAAAAAAAAAABRAAAJQAAAAAAAAAEBAAALgAAAAAAAAAQBAAAKgAAAAAAAAAAiAAAFgBAAAAAAAABSAAANgAAAAAAAAAECAAAOgAAAAAAAAAESAAAAwBAAAAAAAAEiAAAPwAAAAAAAAAEyAAAKgAAAAAAAAAICAAADgBAAAAAAAAMCAAAGQBAAAAAAAAENAAAAQAAAAAAAAA",
    "enabled" : true,
    "hideIfActive" : false,
    "keyCode" : 32,
    "order" : 7,
    "url" : "\/System\/Applications\/System Settings.app",
    "modifierFlags" : 1179914,
    "openSelectedFolders" : true
  },
  {
    "keyCode" : 17,
    "bookmark" : "Ym9vazQCAAAAAAQQMAAAADcfNkyWB7Dq+SWrv8WXMt95c4htkEy8DNqqyGOKmzq6VAEAAAQAAAADAwAAABgAKAwAAAABAQAAQXBwbGljYXRpb25zEwAAAAEBAABNaWNyb3NvZnQgVGVhbXMuYXBwAAgAAAABBgAAEAAAACQAAAAIAAAABAMAAENfGAIAAAAACAAAAAQDAABtJfwBAAAAAAgAAAABBgAAUAAAAGAAAAAIAAAAAAQAAEHEzZJ+gAAAGAAAAAECAAACAAAAAAAAAA8AAAAAAAAAAAAAAAAAAAAIAAAAAQkAAGZpbGU6Ly8vDAAAAAEBAABNYWNpbnRvc2ggSEQIAAAABAMAAABQoRtzAAAACAAAAAAEAABBxMp7dIAAACQAAAABAQAAMUJCQTAwODUtRTkxQi00MDYzLUJEQTEtOUQyQkI2MjI2ODlCGAAAAAECAACBAAAAAQAAAO8TAAABAAAAAAAAAAAAAAABAAAAAQEAAC8AAAAAAAAAAQUAAKgAAAD+\/\/\/\/AQAAAAAAAAANAAAABBAAAEAAAAAAAAAABRAAAHAAAAAAAAAAEBAAAJAAAAAAAAAAQBAAAIAAAAAAAAAAAiAAAEABAAAAAAAABSAAALAAAAAAAAAAECAAAMAAAAAAAAAAESAAAPQAAAAAAAAAEiAAANQAAAAAAAAAEyAAAOQAAAAAAAAAICAAACABAAAAAAAAMCAAAEwBAAAAAAAAENAAAAQAAAAAAAAA",
    "hideIfActive" : false,
    "openSelectedFiles" : true,
    "url" : "\/Applications\/Microsoft Teams.app",
    "openSelectedFolders" : true,
    "modifierFlags" : 1179914,
    "order" : 8,
    "enabled" : false
  },
  {
    "hideIfActive" : false,
    "keyCode" : 1,
    "modifierFlags" : 1179914,
    "url" : "\/Applications\/Slack.app",
    "bookmark" : "Ym9vaywCAAAAAAQQMAAAAGQbAsfgd+J31UxaZ4rebq7MfB+EuMQ4NajhIOZStpyoTAEAAAQAAAADAwAAABgAKAwAAAABAQAAQXBwbGljYXRpb25zCQAAAAEBAABTbGFjay5hcHAAAAAIAAAAAQYAABAAAAAkAAAACAAAAAQDAABDXxgCAAAAAAgAAAAEAwAAfi2lAAAAAAAIAAAAAQYAAEgAAABYAAAACAAAAAAEAABBxIyf8QAAABgAAAABAgAAAgAAAAAAAAAPAAAAAAAAAAAAAAAAAAAACAAAAAEJAABmaWxlOi8vLwwAAAABAQAATWFjaW50b3NoIEhECAAAAAQDAAAAUKEbcwAAAAgAAAAABAAAQcTKe3SAAAAkAAAAAQEAADFCQkEwMDg1LUU5MUItNDA2My1CREExLTlEMkJCNjIyNjg5QhgAAAABAgAAgQAAAAEAAADvEwAAAQAAAAAAAAAAAAAAAQAAAAEBAAAvAAAAAAAAAAEFAACoAAAA\/v\/\/\/wEAAAAAAAAADQAAAAQQAAA4AAAAAAAAAAUQAABoAAAAAAAAABAQAACIAAAAAAAAAEAQAAB4AAAAAAAAAAIgAAA4AQAAAAAAAAUgAACoAAAAAAAAABAgAAC4AAAAAAAAABEgAADsAAAAAAAAABIgAADMAAAAAAAAABMgAADcAAAAAAAAACAgAAAYAQAAAAAAADAgAABEAQAAAAAAABDQAAAEAAAAAAAAAA==",
    "order" : 9,
    "openSelectedFolders" : true,
    "enabled" : true,
    "openSelectedFiles" : true
  },
  {
    "enabled" : true,
    "openSelectedFolders" : true,
    "keyCode" : 11,
    "order" : 10,
    "openSelectedFiles" : true,
    "url" : "\/Applications\/Visual Studio Code.app",
    "modifierFlags" : 1179914,
    "hideIfActive" : false,
    "bookmark" : "Ym9vazgCAAAAAAQQMAAAACZnVV9GU1mG\/gnpCZAGSfym2v0zCq2fgSD8kgGzF27ZWAEAAAQAAAADAwAAABgAKAwAAAABAQAAQXBwbGljYXRpb25zFgAAAAEBAABWaXN1YWwgU3R1ZGlvIENvZGUuYXBwAAAIAAAAAQYAABAAAAAkAAAACAAAAAQDAABDXxgCAAAAAAgAAAAEAwAA14sjAgAAAAAIAAAAAQYAAFQAAABkAAAACAAAAAAEAABBxOColwAAABgAAAABAgAAAgAAAAAAAAAPAAAAAAAAAAAAAAAAAAAACAAAAAEJAABmaWxlOi8vLwwAAAABAQAATWFjaW50b3NoIEhECAAAAAQDAAAAUKEbcwAAAAgAAAAABAAAQcTKe3SAAAAkAAAAAQEAADFCQkEwMDg1LUU5MUItNDA2My1CREExLTlEMkJCNjIyNjg5QhgAAAABAgAAgQAAAAEAAADvEwAAAQAAAAAAAAAAAAAAAQAAAAEBAAAvAAAAAAAAAAEFAACoAAAA\/v\/\/\/wEAAAAAAAAADQAAAAQQAABEAAAAAAAAAAUQAAB0AAAAAAAAABAQAACUAAAAAAAAAEAQAACEAAAAAAAAAAIgAABEAQAAAAAAAAUgAAC0AAAAAAAAABAgAADEAAAAAAAAABEgAAD4AAAAAAAAABIgAADYAAAAAAAAABMgAADoAAAAAAAAACAgAAAkAQAAAAAAADAgAABQAQAAAAAAABDQAAAEAAAAAAAAAA=="
  },
  {
    "openSelectedFolders" : true,
    "hideIfActive" : false,
    "keyCode" : 16,
    "order" : 11,
    "modifierFlags" : 1179914,
    "bookmark" : "Ym9vazQCAAAAAAQQMAAAALh\/XpULE6zRoHTnotYiRK5fWaVEJYwKkVIIM5A8CHZWVAEAAAQAAAADAwAAABgAKAwAAAABAQAAQXBwbGljYXRpb25zEwAAAAEBAABNaWNyb3NvZnQgRXhjZWwuYXBwAAgAAAABBgAAEAAAACQAAAAIAAAABAMAAENfGAIAAAAACAAAAAQDAADtwPQBAAAAAAgAAAABBgAAUAAAAGAAAAAIAAAAAAQAAEHEPAa4AAAAGAAAAAECAAACAAAAAAAAAA8AAAAAAAAAAAAAAAAAAAAIAAAAAQkAAGZpbGU6Ly8vDAAAAAEBAABNYWNpbnRvc2ggSEQIAAAABAMAAABQoRtzAAAACAAAAAAEAABBxMp7dIAAACQAAAABAQAAMUJCQTAwODUtRTkxQi00MDYzLUJEQTEtOUQyQkI2MjI2ODlCGAAAAAECAACBAAAAAQAAAO8TAAABAAAAAAAAAAAAAAABAAAAAQEAAC8AAAAAAAAAAQUAAKgAAAD+\/\/\/\/AQAAAAAAAAANAAAABBAAAEAAAAAAAAAABRAAAHAAAAAAAAAAEBAAAJAAAAAAAAAAQBAAAIAAAAAAAAAAAiAAAEABAAAAAAAABSAAALAAAAAAAAAAECAAAMAAAAAAAAAAESAAAPQAAAAAAAAAEiAAANQAAAAAAAAAEyAAAOQAAAAAAAAAICAAACABAAAAAAAAMCAAAEwBAAAAAAAAENAAAAQAAAAAAAAA",
    "enabled" : true,
    "openSelectedFiles" : true,
    "url" : "\/Applications\/Microsoft Excel.app"
  },
  {
    "openSelectedFiles" : true,
    "openSelectedFolders" : true,
    "keyCode" : 18,
    "modifierFlags" : 1179914,
    "bookmark" : "Ym9vaywCAAAAAAQQMAAAAHcqhQKPMLcSUQolYT4YzqYRs5mvH2a6fMI3nz8dl91lTAEAAAQAAAADAwAAABgAKAwAAAABAQAAQXBwbGljYXRpb25zCwAAAAEBAABTcG90aWZ5LmFwcAAIAAAAAQYAABAAAAAkAAAACAAAAAQDAABfilkCAAAAAAgAAAAEAwAAIJV3AQAAAAAIAAAAAQYAAEgAAABYAAAACAAAAAAEAABBxMStRwAAABgAAAABAgAAAgAAAAAAAAAPAAAAAAAAAAAAAAAAAAAACAAAAAEJAABmaWxlOi8vLwwAAAABAQAATWFjaW50b3NoIEhECAAAAAQDAAAAUKEbcwAAAAgAAAAABAAAQcTsS70AAAAkAAAAAQEAADFCQkEwMDg1LUU5MUItNDA2My1CREExLTlEMkJCNjIyNjg5QhgAAAABAgAAgQAAAAEAAADvEwAAAQAAAAAAAAAAAAAAAQAAAAEBAAAvAAAAAAAAAAEFAACoAAAA\/v\/\/\/wEAAAAAAAAADQAAAAQQAAA4AAAAAAAAAAUQAABoAAAAAAAAABAQAACIAAAAAAAAAEAQAAB4AAAAAAAAAAIgAAA4AQAAAAAAAAUgAACoAAAAAAAAABAgAAC4AAAAAAAAABEgAADsAAAAAAAAABIgAADMAAAAAAAAABMgAADcAAAAAAAAACAgAAAYAQAAAAAAADAgAABEAQAAAAAAABDQAAAEAAAAAAAAAA==",
    "order" : 12,
    "hideIfActive" : false,
    "enabled" : true,
    "url" : "\/Applications\/Spotify.app"
  }
]